.flash-message {
	position: fixed;
	bottom: 10px;
	left: 10px;
	background-color: #4caf50;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	animation: fadeInOut 0.5s ease-in-out;
}

.message {
	flex: 1;
}

.progress-bar {
	height: 5px;
	background-color: #fff;
	width: 100%;
	border-radius: 2px;
	animation: decreaseWidth linear forwards;
}

@keyframes decreaseWidth {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}

@keyframes fadeInOut {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
