.input-group {
	position: relative;
	display: flex;
	flex-direction: column;
}

.input-group label {
	transition: 0.2s;
	position: absolute;
	top: 30%;
	left: 0.8rem;
}
.input-group input {
	outline: none;
	padding: 1rem 0.8rem 0.5rem;
	border: 1px solid var(--color-dark-variant);
	border-radius: var(--border-radius-1);
	background: var(--color-white);
}
.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
	top: 10%;
	font-size: 0.7rem;
}
