.inputGroup {
	position: relative;
}
.inputGroup input {
    padding: 10px 1rem;
}

.inputGroup label {
	position: absolute;
	top: 50%;
	left: 5%;
    transform: translate(-5%, -50%);
    transition: .2s;
}

.inputGroup input:focus ~ label,
.inputGroup input:not(:placeholder-shown) ~ label {
    top: 15%;
    left: 5%;
    font-size: 10px;
}
