.formWrapper {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.formWrapper form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.formWrapper button {
	font-weight: 500;
}
