#input-wrapper {
	position: relative;
}

#input-wrapper label {
	position: absolute;
	top: 40%;
	left: 5%;
	transition: 0.2s ease;
	cursor: text;
}

#input-wrapper input {
	min-width: 300px;
}

#input-wrapper input:focus ~ label,
#input-wrapper input:not(:placeholder-shown) ~ label {
	top: 10%;
	left: 2%;
	font-size: 10px;
	background: var(--color-white);
	padding: 0 2px;
}

@media (max-width: 768px) {
	#input-wrapper input {
		min-width: 100%;
	}
}
