.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info {
	color: var(--color-info-dark);
	font-size: 0.8rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile-name {
	color: var(--color-dark);
}

.right-section {
	margin-top: 1.4rem;
}

.nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
}

.menu-btn {
	display: none;
}

.dark-mode {
	background-color: var(--color-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.6rem;
	width: 4.2rem;
	cursor: pointer;
	border-radius: var(--border-radius-1);
}

.dark-mode svg {
	font-size: 1.2rem;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dark-mode svg.active {
	background-color: var(--color-primary);
	color: white;
	border-radius: var(--border-radius-1);
}

.nav .profile {
	display: flex;
	gap: 1rem;
	text-align: center;
}

.nav .profile .profile-photo {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
	overflow: hidden;
}

.user-profile {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	transition: all 0.3s ease;
	margin-top: 0.8rem;
}

.user-profile:hover {
	box-shadow: none;
}

.user-profile img {
	width: 11rem;
	height: auto;
	margin-bottom: 0.8rem;
	border-radius: 50%;
}

.user-profile-title {
	margin-bottom: 0.2rem;
	font-size: 1rem;
	font-weight: 600;
}

.reminders {
	margin-top: 2rem;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.8rem;
}

.header svg {
	font-size: 48px;
	padding: 10px;
	box-shadow: var(--box-shadow);
	background-color: var(--color-white);
	border-radius: 50%;
}

.notification {
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.7rem;
	padding: 1.4rem var(--card-padding);
	border-radius: var(--border-radius-2);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	transition: all 0.3s ease;
}

.notification:hover {
	box-shadow: none;
}

.notification form {
	width: 100%;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 1px solid white;
	border-radius: 0.4rem;
	width: 100%;
	gap: 5px;
}
