.container {
	display: grid;
	width: 96%;
	margin: 0 auto;
	gap: 1.8rem;
	grid-template-columns: 12rem auto 15rem;
}

.main {
	margin-top: 1.4rem;
	height: 88vh;
}

.card-wrapper {
	height: 100%;
	overflow: auto;
	margin-top: 1rem;
}

.card {
	background-color: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	display: flex;
	flex-wrap: wrap;
	gap: 1.4rem;
	cursor: pointer;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: column;
}

.card:hover {
	box-shadow: none;
}

.title {
	font-weight: 800;
	font-size: 1.8rem;
}
